In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing

import os

In [2]:
base_path = "/Users/sabin/Documents/Development/Kaggle/benz"

In [3]:

train = pd.read_csv(f'{base_path}/train_preprocessed.csv')
test = pd.read_csv(f'{base_path}/test_preprocessed.csv')
sub = pd.read_csv(f'{base_path}/sample_submission.csv.zip')

In [4]:
train

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4203,107.39,8,20,16,2,3,0,3,16,0,...,1,0,0,0,0,0,0,0,0,0
4204,108.77,31,16,40,3,3,0,7,7,0,...,0,1,0,0,0,0,0,0,0,0
4205,109.22,8,23,38,0,3,0,6,4,0,...,0,0,1,0,0,0,0,0,0,0
4206,87.48,9,19,25,5,3,0,11,20,0,...,0,0,0,0,0,0,0,0,0,0
4207,110.85,46,19,3,2,3,0,6,22,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
test

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,6,9,17,5,3,1,9,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,42,1,8,3,3,1,9,24,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,47,23,17,5,3,1,3,22,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,7,23,17,0,3,1,2,16,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,42,1,8,2,3,1,6,17,0,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
sub

        ID           y
0        1  100.669318
1        2  100.669318
2        3  100.669318
3        4  100.669318
4        5  100.669318
...    ...         ...
4204  8410  100.669318
4205  8411  100.669318
4206  8413  100.669318
4207  8414  100.669318
4208  8416  100.669318

[4209 rows x 2 columns]

In [7]:

train = train.rename(columns={'y':'target'})
train

,target,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4203,107.39,8,20,16,2,3,0,3,16,0,...,1,0,0,0,0,0,0,0,0,0
4204,108.77,31,16,40,3,3,0,7,7,0,...,0,1,0,0,0,0,0,0,0,0
4205,109.22,8,23,38,0,3,0,6,4,0,...,0,0,1,0,0,0,0,0,0,0
4206,87.48,9,19,25,5,3,0,11,20,0,...,0,0,0,0,0,0,0,0,0,0
4207,110.85,46,19,3,2,3,0,6,22,0,...,1,0,0,0,0,0,0,0,0,0

In [8]:

X = train.drop(columns=['target'])
y = train['target']

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size = 0.9, random_state=0)

In [ ]:
X_train

In [ ]:
y_train

In [ ]:
X_valid

In [ ]:
y_valid

In [10]:
from sklearn import linear_model

model_lr = linear_model.LinearRegression()

In [11]:
model_lr.fit(X_train, y_train)

LinearRegression()

In [12]:

print("모델 : {}".format(model_lr))
print("학습용 세트 정확도: {:.3f}".format(model_lr.score(X_train, y_train)))
print("검증 세트 정확도: {:.3f}".format(model_lr.score(X_valid, y_valid)))

모델 : LinearRegression()
학습용 세트 정확도: 0.626
검증 세트 정확도: -1956018986076535.750

In [13]:

prediction_lr = model_lr.predict(test)
prediction_lr

array([-8.93267402e+09,  8.52297460e+09,  1.08531738e+02, ...,
        9.29489136e+01,  1.10975510e+02,  9.48883972e+01])

In [14]:

sub['y'] = prediction_lr
sub

        ID             y
0        1 -8.932674e+09
1        2  8.522975e+09
2        3  1.085317e+02
3        4  7.725868e+01
4        5  1.111866e+02
...    ...           ...
4204  8410  1.037025e+02
4205  8411  9.714580e+01
4206  8413  9.294891e+01
4207  8414  1.109755e+02
4208  8416  9.488840e+01

[4209 rows x 2 columns]

In [15]:
sub.to_csv(f'{base_path}/sub_lr.csv', encoding='utf-8', index=False)